Django>=5.0
djangorestframework
djangorestframework-simplejwt
Pillow
psycopg2-binary
psycopg2
celery
redis
django-cors-headers
djangorestframework-gis
drf-yasg
python-dotenv
pytest-django
openai
google-auth
stripe
